.card_contain{
    width:350px;
    height:350px;
    margin-left: 60px;
    margin-top: 69px;
    float:left;
    color:black;
}

.About{
    margin-top: 46px;
    float: left;
    text-align: justify;
}
.heading{
    margin-top: 46px;
    text-align: center;
}
.content{
    margin-top: 20px;
}