<div class="container"> 
    <div class="heading"><h1>Home</h1></div>
    <div class="card card_contain">
        <img src="../../assets/images/imag1.jfif" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card card_contain">
        <img src="../../assets/images/image2.jfif" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card card_contain">
        <img src="../../assets/images/imag3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>

        </div>

    </div>

<div class="About">
   <p> Gadgeon is a new-gen technology consultancy and engineering services company
    enabling customer’s digital journey. Gadgeon is dedicated to building solid
    software systems that creates business value for enterprises. Our services
    include Product engineering, IoT Engineering, Embedded systems – hardware &
    Firmware, Enterprise application – integration & modernization, Full stack
    development, cloud & Mobile app development, data analytics with AI & ML,
    testing & automation, and Professional services. Gadgeon enables our
    customers to fully focus on high impact business transformation initiatives
    while the extended team from Gadgeon takes care of all engineering and
    operational activities.
</p>
</div>
</div>